.formwindow {
    display: grid;
    height: 79%;
    width: 35%;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 12.5%;
    left: 15%;
    overflow-y: scroll;
    box-shadow: 0 0 5px 4px crimson;
}

.formwindow::-webkit-scrollbar {
    width: 5px;
}

.formwindow::-webkit-scrollbar-track {
    box-shadow: 0 0 5px 0 #ccc;
}

.formwindow::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 0 4px 4px 0;
}

form {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
}

.formhtwo {
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.formul {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    margin: 0;
}