.headhone {
    text-align: center;
    font-size: 34px;
    margin: 0;
    padding-top: 15px;
}

.headp {
    position: relative;
    left: 5%;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255);
}

header {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    min-height: fit-content;
    background-color: black;
    padding-bottom: 10px;
    color: rgba(255, 255, 255);
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 4px 4px 0px crimson;
}