footer {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.copy {
    font-size: 16px;
}

img {
    padding-left: 10px;
}

img:hover {
    scale: 1.1;
    cursor: pointer;
}